html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.password-wrapper {
    position: relative;
}

    .password-wrapper input[type="password"] {
        padding-right: 30px; /* Create space for the show/hide button */
    }

    .password-wrapper .toggle-password {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
    }
.column-header {
    font-weight: bold;
}

.search-wrapper {
    margin-top: 5px;
}

div.dt-buttons {
    float: left;
    margin-right: 20px;
}

.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
}

.loader {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 10000;
    overflow: auto;
}