@page "/AddEmployee/{EmployeeID}"
@model test_coreWebApplication.Pages.AddEmployeeModel
@{
}
<h2 class="mb-3">Add </h2>
<div class="container">
<form method="post" asp-page-handler="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Employee.EmployeeId" />
    <div class="row mb-3">
     <div class="form-group col-md-6">
        <label>Email:</label>
        <input type="text" class="form-control" asp-for="Employee.EmailID" />
        <span asp-validation-for="Employee.EmailID" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label>Name:</label>
        <input type="text" class="form-control" asp-for="Employee.EmployeeName" />
        <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
    </div>
    </div>
    <div class="row mb-3">
    <div class="form-group col-md-6">
        <label>Address:</label>
        <input type="text" class="form-control" asp-for="Employee.Address"/>
        <span asp-validation-for="Employee.Address" class="text-danger"></span>
    </div>


    <div class="form-group col-md-6">
        <label>Mobileno:</label>
        <input type="number" class="form-control" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" asp-for="Employee.Mobileno"/>
        <span asp-validation-for="Employee.Mobileno" class="text-danger"></span>
    </div>
        </div>
     <div class="row mb-3">

    <div class="form-group col-md-6">
    <div class="password-wrapper">
        <label class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" asp-for="Employee.Password" value="@Model.Employee.Password">
    <i class="bi bi-eye toggle-password" id="togglePassword" onmousedown="showPassword()" onmouseup="hidePassword()" onmouseout="hidePassword()"></i>
    <span class="text-danger" asp-validation-for="Employee.Password"></span>
    </div>
  </div>
     <div class="password-wrapper col-md-6">
            <label class="form-label">ConfirmPassword</label>
        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm your password" asp-for="Employee.ConfirmPassword" value="@Model.Employee.Password">
        <i class="bi bi-eye toggle-password" id="toggleConfirmPassword" onmousedown="showConfirmPassword()" onmouseup="hideConfirmPassword()" onmouseout="hideConfirmPassword()"></i>
        <span class="text-danger" asp-validation-for="Employee.ConfirmPassword"></span>
        </div>
        </div>

        <div class="row mb-3">
     <div class="form-group col-md-4">
        <label class="form-label">Country</label>
        <select asp-for="Employee.CountryId" id="CountryId" asp-items="Model.Countries">
        <option value="">Select Country</option>
       </select>
    </div>
         <div class="form-group col-md-4">
        <label class="form-label">City</label>
        <select asp-for="Employee.CityId" id="CityId" asp-items="Model.Cities">
        <option value="">Select City</option>
                    
       </select>
    </div>
       <div class="col-md-4">
        <label class="form-label">Date Of Birth</label>
        <input type="date" asp-for="Employee.DateOfBirth" class="form-control"/>
        <span class="text-danger" asp-validation-for="Employee.DateOfBirth"></span>
    </div>
    </div>
    @{if(Model.Employee.EmployeeId == 0)
    {
        <input type="submit" class="btn btn-primary" value="Create" />
    }
    else {
        <input type="submit" class="btn btn-primary" value="Update" />
    } }
    
</form>
</div>